<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
<link rel="stylesheet" href="/static/socialnetwork/register.css">
</head>
<body>
<div id="id_header_div">
    <div id="id_site_name">Social Network</div>
    <a id="id_login_link" href="{% url 'login' %}">Log in</a>
</div>

<div id="id_page_name">Register</div>
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button id="id_register_button" type="submit">submit</button>
</form>
</body>
</html>